*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 120px;
}
/* #main img{
    width: 120px;
} */
#items:hover{
    border-color: red;
}
#cart-count{
    border: 0;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 3px;
}