*{
    margin: 0;
    padding: 0;
}
main img{
    width: 400px;
}
svg{
    margin-right: 12px;
}
.cart{
    cursor: pointer;
}
#cart-count{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 20px;
    background-color: yellow;
}
.logo{
    width: 120px;
}
.cart-img{
    width: 100px;
    height: 200px;
}
.cart-img img{
    width: 100%;
}